@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    position: relative;
    background-color: #0a090f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto;
}

/* Grid Element */
header {
    grid-area: 1 / 2 / 2 / -1;
}

.left-Bar {
    position:static;
    grid-area: 1 / 1 / -1 / 2;
    background-color:#313035;
    opacity: 0.8;
}

.right-Bar {
    position: fixed; 
    top: 65px; 
    right: 20px; 
    z-index: 1000; /* Ensure the menu appears above other content */
    opacity: 0.8;
}

.footer {
    grid-area: 6 / 2 / -1 / -1;
    opacity: 0.8;
}

.headerBar {
    display: block;
    background-color: azure;
    height: 80px;
    opacity: 0.8;
    border-radius: 0px, 0px, 30px, 30px;
}

.headerText {
    font-family: "Jersey 20", sans-serif;
    font-style: normal;
    color: #ff2a78;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.headerText img{
    margin-right: 60px;
}

.leftMenu {
    height: 70%;
    margin-top: 100px;
    width: 80%;
    border-radius: 20px;
    color:#ff2382;
}

.leftMenu li {
    display: block;
    padding: 10px;
    list-style-type: none;
    margin-top: 20px;
    font-size: large;
    background-color:#0e0b0b;
    cursor: pointer;
}

.leftMenu li:hover {
    background-color: #ffffff;
}

.rightMenu {
    cursor: pointer;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: azure;
    border-radius: 25px;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 3px 2px 2px rgba(255, 255, 255, 0.3);
}

.rightMenu:hover {
    height: 210px;
}

.down-arw{
    padding: 5px;
}

.rightMenu:hover .down-arw {
    display: none;
}

.smLogo img {
    padding: 5px 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.smLogo a img:hover {
    filter: drop-shadow(8px 8px 5px rgba(255,255,25, 0.5))
}

.smLogo:hover img {
    opacity: 100;
}

.rightMenu ul {
    padding-inline: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.rightMenu li {
    padding: 10px;
}

svg {
    fill: #635f61;
}

.footerBox {
    position: fixed;
    bottom: 0px;
    color: #ffffff;
    display: block;
    background-color: #d24d6e;
    height: 50px;
    width: 100%;
}
.footerBox P{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 26.5%;
    font-size: 13px;
    letter-spacing: 0.8em;
    word-spacing: 0.4;
}

/*kaixuen*/
/*----------------The disk part-------------------*/
#kaixuenDisk{
    padding: 100px 0; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.thedisk-left{
    flex-basis: 50%;
}
.thedisk-left img{
    width: 90%;
}
.thedisk-right{
    flex-basis: 50%;
    text-align: right; 
}
.thedisk-right h1{
    font-size: 90px;
    color: #ff2d77;
    font-family: sans-serif;
}
.disk-text{
    max-width: 500px;
    margin-right: 100px;
    margin-top: 50px;
    display: inline-block;
}
.disk-text h1{
    color: #ff2d77;
}
.disk-text p{
    color: #ddcfcf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.disk-text h2{
    margin: 30px 0 10px;
    font-size: 28px;
    font-style: italic;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.disk-text h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #ff2d77;
}

/*----------------The album part-------------------*/
#kaixuenAlbum{
    padding-top: 10px;
    padding-bottom: 50px;
}

.album-row1{
    width: 80%;
    margin: auto; 
    display: flex; 
    align-items: center;
    align-items: flex-start; 
    flex-wrap: wrap;
}
.album-row2{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-items: flex-start; /* fix the photo stick on top*/
    flex-wrap: wrap;
}
.albumcol{
    flex-basis: 25%;
    text-align: center;
}
.albumcol img{ 
    width: 160px;
    border: 6px solid #ff2a78;
}
.albumcol h4{ 
    margin-top: 10px;
    margin-bottom:15px;
    font-size: 17px;
    font-weight: 20;
    color: #ffffff;
    font-family: Helvetica;
}
.albumcol p{
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 30px;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c7c7c7;
}

/* the quote */
.the-quote h2{
    font-size: 16px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 80px;
    margin-top: 0px;
    color: aliceblue;
    word-spacing: 0.4em;
}
