@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@import url('sections/concert.css');
@import url('sections/disk.css');
@import url('sections/guitar.css');
@import url('sections/idol.css');
@import url('sections/team.css');

body {
    margin: 0;
    position: relative;
    background-color: #0a090f;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

html{
    scroll-behavior: smooth;
}

/* Grid Element */
header {
    grid-area: 1 / 2 / 2 / -1;
}

.left-Bar {
    grid-area: 1 / 1 / -1 / 2;
    background-color:#313035;
    opacity: 0.8;
}

.right-Bar {
    position: fixed; 
    top: 20%; 
    right: 3%; 
    z-index: 1000; /* Ensure the menu appears above other content */
    opacity: 0.8;
}

.guitar-grid {
    grid-area: 2 / 2 / 3 / -1;
    width: 100%;
}

.disk-grid {
    grid-area: 3 / 2 / 4 / -1;
}

.album-grid {
    grid-area: 4 / 2 / 5 / -1;
}

.idol-grid {
    grid-area: 5 / 2 / 6 / -1;
}

.concert-grid {
    grid-area: 6 / 2 / 7 / -1;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: 7 / 2 / -1 / -1;
    opacity: 0.8;
}

.headerText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #ff2a78;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.headerText h2{
    color:#e4769f;
    margin: 0%;
    font-size: 32pt;
}

.headerText img{
    margin-right: 60px;
}

.headerText p{
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: large;
}

.leftMenu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    color:#ff2382;
}

.leftMenu ul{
    padding-inline-start: 0;
}

.leftMenu ul a {
    text-align: center;
}

.leftMenu ul li {
    font-family: "Concert One", sans-serif;
    font-style: normal;
    padding: 10px 20px;
    list-style-type: none;
    margin-top: 20px;
    font-size: large;
    background-color:#0e0b0b;
    cursor: pointer;
}

.leftMenu li:hover {
    background-color: #ffffff;
}

.linker{
    text-decoration: none;
    color:#ff2382;
}

.rightMenu {
    cursor: pointer;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: rgb(102, 113, 113);
    border-radius: 25px;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 3px 2px 2px rgba(255, 255, 255, 0.3);
}

.rightMenu:hover {
    height: 210px;
}

.down-arw{
    padding: 5px;
}

.rightMenu:hover .down-arw {
    display: none;
}

.smLogo img {
    padding: 5px 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.smLogo a img:hover {
    filter: drop-shadow(8px 8px 5px rgba(255,255,25, 0.5))
}

.smLogo:hover img {
    opacity: 100;
}

.rightMenu ul {
    padding-inline: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.rightMenu li {
    padding: 10px;
}

.footerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #d24d6e;
    height: 50px;
    width: 100%;
}
.footerBox p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.8em;
    word-spacing: 0.4;
}

@media only screen and (max-width: 768px) {
    .left-Bar{
        position: sticky;
        width: 260px;
    }
    .headerText{
        flex-direction: column;
    }
  }